{% extends 'layout.html' %}

{% block body %}
  <div class='jumbotron text-center'>
    <h1> About Us and Our Project </h1>
    <p class='lead' align='justify'>&emsp;We are computer scientists at the University of Oregon working on a NSF-funded project.
    Read Understand Learn Excel (RULE) aims to create a computerized tool to assist clinicians in secondary and post-secondary schools who
    evaluate and treat reading comprehension deficits. Students read a passage and immediately recall to a speaker what they remember from the excerpt.
    A computer program then grades the recall based on retention and accuracy.
    This particular aspect of the project is meant to help clinicians parse through the student recalls.
    A full stop designates the end of one thought and the beginning of another thought.
    Thus, placing periods helps the clinicians identify distinct ideas that a student verbalizes.</p>
    <p class='lead' align='justify'>&emsp;We suspect this research could be applied to other problems as well.
    For example, we could try to guess at redacted information based on the surrounding context.
    However, this task involves predicting words from a large dictionary, whereas the period placer solves a binary classification problem.
    On the other hand, we could try to predict punctuation in a text.
    For instance, we could distinguish between periods, question marks, and exclamation marks.
    Again, this problem is a more difficult problem because it solves categorical classification.</p>
    <p class='lead' align='justify'>&emsp;Seth Temple worked on this research from March 2018 until June 2018.
    Professor Stephen Fickas supervised Seth's research and the work of other researchers on the RULE project.
    Contact Seth Temple (stemple@uoregon.edu) for any questions you have about the period placer.</p>
    <br><br><br>
    <p class='lead' align='justify'>&emsp;Voice recognition technology could use tools that predict punctuation.
    At this time, we do not know if companies like Google have this technology already.
    A <a href='https://www.youtube.com/watch?v=_ldoV5FQn0k'>demo</a> of the 2018 Google Assistant suggests that this technology could be available now.</p>
  </div>
{% endblock %}
